**/node_modules
**/.env
**/.env.*
**/npm-debug.log*
**/*.log
.git
.turbo
.codegraph
apps/OpenSignServer/files
apps/OpenSignServer/logs
apps/OpenSignServer/exports
apps/OpenSign/build
apps/OpenSign/public/mfbuild
apps/OpenSignServer/spec
apps/OpenSignServer/coverage
apps/OpenSignServer/.nyc_output
**/*.spec.js
